// Breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Color
$color-black: #151515;
$color-green: #4EE1A0;
$color-dark-grey: #242424;
$color-light-grey: #d9d9d9;
$color-white: #FFFFFF;

// Typography
$primary-font: 'Space Grotesk', sans-serif;


